<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.constraintlayout.swt"
        version="1.0">

  <name>Constraintlayout Plugin</name>

  <platform name="swt">
  	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidXConstraintLayout">
        <param name="android-package" value="com.ashera.constraintlayout.AndroidXConstraintLayout"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="core.gradle" custom="true" type="gradleReference" />
   	
   	 <!-- start tsc -->
     <source-file src="tsc/src/swt/widget/BarrierImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/CarouselImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/CircularFlowImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/ConstraintLayoutImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/FlowImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/GroupImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/GuidelineImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/MotionLayoutImpl.ts" target-dir="tsc/src/swt/widget"/>
     <source-file src="tsc/src/swt/widget/PlaceholderImpl.ts" target-dir="tsc/src/swt/widget"/>
     <!-- tsc end -->
   	
  </platform>
</plugin>